@media (min-width: 480px) {
    .container {
        max-width: calc(404px + 16px + 16px);
    }
}

@media (min-width: 768px) {
    .container {
        max-width: calc(708px + 16px + 16px);
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 896px;
        padding: 0 76px;
    }
    .container--big {
        padding: 0 !important;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1135px;
        padding: 0 132px;
    }
    .section-title {
        font-size: 24px;
        line-height: 28px;
    }
}

@media (min-width: 1920px) {
    .container {
        max-width: 1564px;
        padding: 0 96px;
    }
    .section-title {
        font-size: 32px;
        line-height: 40px;
    }
}

/* ----------- HEADER -------------- */
@media (min-width: 768px) {
    .header {
        padding: 10px 0;
    }
    .burger-btn {
        width: 40px;
        height: 40px;
        background-color: var(--accent-color);
    }

    .burger-btn__line {
        width: 20px;
        height: 1px;
        background-color: var(--sub-color);
    }
    .burger-btn__line::before {
        top: 6px;
        background-color: var(--sub-color);
        width: 20px;
        height: 1px;
    }
    .burger-btn__line::after {
        top: -6px;
        background-color: var(--sub-color);
        width: 20px;
        height: 1px;
    }
    .burger__text {
        display: block;
    }

    .logo {
        width: 148px;
        height: 72px;
    }

    .info-block__wrapper {
        display: flex;
    }

    .info-block {
        width: 200px;
    }

    .info-block__img {
        width: 18px;
        height: 18px;
        margin-top: 4px;
        margin-left: auto;
    }
    .menu {
        width: 200px;
    }
}

@media (min-width: 1280px) {
    .info-block {
        gap: 9px;
    }
    .info-block__wrapper {
        align-items: start;
        gap: 0;
        text-align: left;
    }
    .info-block--mail {
        display: flex;
    }
    .info-block--address {
        display: flex;
    }
    .info-block__img {
        margin-top: 4px;
        margin-left: 0;
    }
}

@media (min-width: 1920px) {
    .info-block {
        width: auto;
    }
    .info-block__number {
        font-size: 20px;
        line-height: 24px;
    }
    .info-block__text {
        font-size: 14px;
        line-height: 24px;
    }
    .burger__text {
        font-size: 16px;
    }
}
/* /////////// HEADER -------------- */

/* ----------- HERO --------------- */
@media (min-width: 480px) {
    .hero {
        padding: 40px 0;
        background-image: url(../images/hero-bg/hero-bg-480.png);
    }
}

@media (min-width: 768px) {
    .hero {
        padding: 64px 0;
        background-image: url(../images/hero-bg/hero-bg-768.png);
    }
    .title {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    .info-title {
        margin-bottom: 40px;
    }
    .consultation-form {
        width: 467px;
        margin: 0 auto;
        padding: 28px 36px;
    }
}

@media (min-width: 1024px) {
    .hero {
        padding: 64px 0 77px;
        background-image: url(../images/hero-bg/hero-bg-1024.png);
    }
    .hero__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hero__text {
        width: 440px;
    }
    .consultation-form {
        width: 332px;
        margin: 0;
    }
}

@media (min-width: 1280px) {
    .hero {
        padding: 64px 0 77px;
        background-image: url(../images/hero-bg/hero-bg-1280.png);
    }
    .hero__text {
        width: 656px;
    }
    .title {
        font-size: 32px;
        line-height: 44px;
        margin-bottom: 24px;
    }
}

@media (min-width: 1920px) {
    .hero {
        padding: 80px 0 78px;
        background-image: url(../images/hero-bg/hero-bg-1920.png);
    }
    .hero__text {
        width: 904px;
    }
    .title {
        font-size: 44px;
        line-height: 60px;
        margin-bottom: 28px;
    }
    .consultation-form {
        width: 456px;
    }
}
/* /////////// HERO --------------- */

/* ----------- ADVANTAGES ---------- */
@media (min-width: 480px) {
    .advantages__item {
        margin-bottom: 44px;
    }
    .advantages__list {
        margin-top: 30px;
    }
}

@media (min-width: 768px) {
    .section-title--advantages {
        text-align: center;
    }
    .advantages__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 40px;
        row-gap: 20px;
    }
    .advantages__item {
        padding-top: 70px;
        padding-left: 0;
        text-align: center;
    }
    .advantages__item::after {
        width: 42px;
        height: 42px;
        left: 50%;
        top: 0;
        transform: translateX(-50%) rotate(45deg);
    }

    .advantages__item::before {
        left: 50%;
        top: 12px;
        transform: translateX(-50%);
    }
}

@media (min-width: 1024px) {
    .advantages__list {
        grid-template-columns: repeat(5, 1fr);
        margin-top: 50px;
    }
}

@media (min-width: 1920px) {
    .advantages__list {
        column-gap: 108px;
    }
}
/* /////////// ADVANTAGES ---------- */

/* ----------- ABOUT --------------- */
@media (min-width: 768px) {
    .about__info-img-wrap {
        width: 464px;
        margin: 0 auto;
    }
    .about__video {
        height: 350px;
    }
}

@media (min-width: 1280px) {
    .about-bg {
        padding: 56px 0;
    }
    .section-title {
        margin-bottom: 12px;
        font-size: 24px;
        line-height: 28px;
    }
    .section__subtitle {
        margin-bottom: 12px;
        font-size: 18px;
        line-height: 24px;
    }
}

@media (min-width: 1920px) {
    .about-bg {
        padding: 80px 0;
    }
    .section-title {
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 40px;
    }
    .section__subtitle {
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 32px;
    }
    .about__text {
        font-size: 16px;
        line-height: 24px;
    }
    .about__item {
        font-size: 16px;
        line-height: 24px;
    }
}

/* /////////// ABOUT --------------- */

/* ----------- PRICE -------------- */
@media (min-width: 768px) {
    .price__list {
        margin-bottom: 10px;
    }
    .price__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2px;
    }
    .price__item--heading {
        display: flex;
    }
    .price__text {
        width: 480px;
    }
    .price__num {
        font-weight: 400;
    }
    .btn__bid {
        width: 209px;
    }
}

@media (min-width: 1920px) {
    .price__item--heading {
        font-size: 16px;
        line-height: 24px;
    }
    .price__text {
        font-size: 16px;
        line-height: 24px;
    }
    .bid {
        padding: 28px 40px;
    }
    .bid__title {
        font-size: 20px;
        line-height: 28px;
    }
    .bid__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .bid__text {
        width: 820px;
        font-size: 16px;
        line-height: 24px;
    }
    .btn__bid {
        width: 220px;
        padding: 20px 40px;
        font-size: 16px;
        line-height: 24px;
    }
}
/* /////////// PRICE -------------- */
/* ----------- SHEME -------------- */
@media (min-width: 768px) {
    .sheme .swiper-pagination {
        display: none;
    }
    .sheme .swiper-button-prev {
        display: none;
    }
    .sheme .swiper-button-next {
        display: none;
    }
    .sheme__slider .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 12px;
        grid-row-gap: 45px;
    }
}

@media (min-width: 1024px) {
    .sheme__slider .swiper-wrapper {
        grid-column-gap: 20px;
    }
}
@media (min-width: 1280px) {
    .sheme__slider .swiper-wrapper {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 49px;
    }
}
@media (min-width: 1920px) {
    .sheme .swiper-slide {
        padding: 48px 36px 80px;
    }
    .scheme-slider__title {
        margin-bottom: 16px;
        font-size: 20px;
        line-height: 28px;
    }
    .scheme-slider__text {
        font-size: 16px;
        line-height: 24px;
    }
    .sheme__slider .swiper-wrapper {
        grid-column-gap: 20px;
        grid-row-gap: 62px;
    }
}
/* ----------- SCHEME -------------- */
