@media (min-width: 480px) {
    .container {
        max-width: calc(404px + 16px + 16px);
    }
}

@media (min-width: 768px) {
    .container {
        max-width: calc(708px + 16px + 16px);
    } 
}

@media (min-width: 1024px) {
    .container {
        max-width: 896px;
        padding: 0 76px;
    } 
}
 
@media (min-width: 1280px) {
    .container {
        max-width: 1135px;
        padding: 0 132px;
    } 
}

@media (min-width: 1920px) {
    .container {
        max-width: 1300px;
        padding: 0 96px;
    } 
}

/* ----------- HEADER -------------- */
@media (min-width: 768px) {
    .header {
        padding: 10px 0;
    }
    .burger-btn {
        width: 40px;
        height: 40px;
        background-color: var(--accent-color);
    }

    .burger-btn__line {
        width: 20px;
        height: 1px;
        background-color: var(--sub-color);
    }
    .burger-btn__line::before {
        top: 6px;
        background-color: var(--sub-color);
        width: 20px;
        height: 1px;
    }
    .burger-btn__line::after {
        top: -6px;
        background-color: var(--sub-color);
        width: 20px;
        height: 1px;
    }
    .burger__text {
        display: block;
    }

    .logo {
        width: 148px;
        height: 72px;
    }
    
    .info-block__wrapper {
        display: flex;
    }

    .info-block {
        width: 200px;
    }

    .info-block__img {
        width: 18px;
        height: 18px;
        margin-top: 4px;
        margin-left: auto;
    }
    .menu {
        width: 200px;
    }
}

@media (min-width: 1280px) {
    .info-block {
        gap: 9px;
    }
    .info-block__wrapper {
        align-items: start;
        gap: 0;
        text-align: left;
    }
    .info-block--mail {
        display: flex;
    }
    .info-block--address {
        display: flex;
    }
    .info-block__img {
        margin-top: 4px;
        margin-left: 0;
    }
}

@media (min-width: 1920px) {
    .info-block {
        width: auto;
    }
    .info-block__number {
        font-size: 20px;
        line-height: 24px;
    }
    .info-block__text {
        font-size: 14px;
        line-height: 24px;
    }
    .burger__text {
        font-size: 16px;
    }
}
/* /////////// HEADER -------------- */