@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/GothamPro/GothamPro.woff2") format("woff2"),
        url("../fonts/GothamPro/GothamPro.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/GothamPro/GothamPro-Medium.woff2") format("woff2"),
        url("../fonts/GothamPro/GothamPro-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/GothamPro/GothamPro-Bold.woff2") format("woff2"),
        url("../fonts/GothamPro/GothamPro-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --accent-color: #377ed9;
    --text-color: #000000;
    --sub-text-color: #828282;
    --bg: #f4f4f4;
    --sub-color: #ffffff;
    --tall-color: #f88568;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Gotham Pro", serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: var(--text-color);
}

a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    max-width: calc(288px + 16px + 16px);
    margin: 0 auto;
    padding: 0 16px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 27, 51, 0.6);
    z-index: 1;
}

section {
    padding: 28px 0;
}

.section-title {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: var(--text-color);
}
.section-title__tall {
    color: var(--tall-color);
}

/* ---------- HEADER ------------ */

.header {
    padding: 8px 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.burger-btn {
    position: relative;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.burger-btn__line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 2px;
    background-color: var(--accent-color);
}
.burger-btn__line::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background-color: var(--accent-color);
    width: 20px;
    height: 2px;
}
.burger-btn__line::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background-color: var(--accent-color);
    width: 20px;
    height: 2px;
}

.burger__text {
    display: none;
    padding: 12px;
    font-size: 14px;
    line-height: 1;
    color: var(--text-color);
    background-color: var(--bg);
    cursor: pointer;
}

.logo {
    position: relative;
    width: 116px;
    height: 56px;
}
.logo::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 46px;
    bottom: -29px;
    border-radius: 0 0 50% 50%;
    z-index: -1;
}

.logo__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-block {
    display: flex;
    gap: 3px;
    cursor: pointer;
}

.info-block__wrapper {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    text-align: center;
}

.info-block__img {
    width: 20px;
    height: 20px;
}

.info-block__number {
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: var(--text-color);
}

.info-block__text {
    font-size: 12px;
    line-height: 16px;
    color: var(--accent-color);
}

.info-block--mail {
    display: none;
}

.info-block--address {
    display: none;
}

/* ----------- HERO ----------- */
.hero {
    position: relative;
    padding: 20px 0;
    background-image: url(../images/hero-bg/hero-bg-320.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
}
.title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: var(--sub-color);
    margin-bottom: 12px;
    position: relative;
    z-index: 2;
}
.info-title {
    margin-bottom: 20px;
    color: var(--sub-color);
    position: relative;
    z-index: 2;
}
.info-title__important {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.consultation-form {
    background-color: var(--sub-color);
    padding: 14px 26px;
    position: relative;
    z-index: 2;
}
.consultation-form__title {
    width: 100%;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
.consultation-form__input {
    width: 100%;
    margin-bottom: 20px;
    padding: 11px 17px;
    border: 1px solid #bdbdbd;
    font-size: 14px;
    line-height: 18px;
}
.btn {
    position: relative;
    width: 100%;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--sub-color);
    background-color: var(--accent-color);
    border: none;
}
.btn::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 4px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--accent-color);
}
.consultation-form__disc {
    padding-top: 16px;
    font-size: 12px;
    line-height: 16px;
    color: var(--sub-text-color);
    text-align: center;
}
.consultation-form__important {
    color: var(--accent-color);
}
/* /////////// HERO ----------- */

/* ----------- ADVANTAGES--------- */
.advantages__list {
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    color: var(--text-color);
    counter-reset: num;
    list-style: none;
}

.advantages__item::after {
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    background-color: var(--tall-color);
    box-shadow: 1px -1px 0 var(--sub-color), 2px -2px 0 var(--tall-color);
}

.advantages__item::before {
    content: counter(num);
    counter-increment: num;
    display: inline-block;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--sub-color);
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    z-index: 5;
}

.advantages__item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 67px;
}
/* /////////// ADVANTAGES--------- */
